<h1>Your result</h1>

<ul>
  <li>Your attempt: <%= @attempt%></li>
  <li>Translation: <%= @result[:translation]%></li>
  <li>Time: <%= @result[:time]%></li>
  <li>Message: <%= @result[:message]%></li>
  <li>Score: <%= @result[:score]%></li>
</ul>
<h3><%= @answer%></h3>
<%= button_to "try again", "/game", :method => "get" %>
